<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{{ page.title }} | NopNop0x90's Blog</title>
  <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>
  <header>
    <h1><a href="/">NopNop0x90's Blog</a></h1>
    <p class="tagline">Exploits | Writeups | Hacker Life</p>
  </header>
  <main>
    {{ content }}
  </main>
  <footer>
    <p>&copy; 2025 NopNop0x90 | <a href="https://github.com/NopNop0x90">GitHub</a></p>
  </footer>
</body>
</html>
